<div id="image-user">
    <img id="foto" src="img/student.png" style="border-radius : 50% !important">
</div>

<div class="row">
    <div class="col-xs-2">
        <label class="narrow-control label-inline" for="edt-login">Login:</label>
    </div>
    <div class="col-xs-7">
        <label class="label label-danger">{{mensagem}}</label>
    </div>
    <div class="col-xs-3">
        <a id="link-registrar" href="#/registro">Registrar-se</a>
    </div>
</div>

<input class="wide-control form-control default" type="text" placeholder="insira o nome de usuário..." id="edt-login" ng-model="login.usuario" ng-blur="carregaFoto()">

<label class="narrow-control label-inline">Senha:</label>
<input class="wide-control form-control default" type="password" placeholder="insira a senha..." ng-model="login.senha">

<button class="btn btn-lg btn-success input-wide" ng-click="ValidaUsuario()" style="margin-top: 10px" id="btn-entrar">Entrar</button>

<button class="btn btn-lg btn-danger input-wide" id="btn-sair">Sair</button>
