<ul class="nav nav-pills">
    <li role="presentation"><a href="#/home"><i class="glyphicon glyphicon-home"></i></a></li>
    <li role="presentation"><a href="#/listar_alunos">Alunos</a></li>
    <li role="presentation"><a href="#/diario_classe/listar_presencas">Presenças</a></li>
    <li role="presentation" class="active"><a href="#/diario_classe/listar_avaliacoes">Avaliações</a></li>
</ul>

<table class="lista-visualizar">
    <tr>
        <td>Avaliacao</td>
        <td><a href="#/diario_classe/visualizar/1">Abrir</a></td>
    </tr>
    <tr>
        <td>Avaliacaoa</td>
        <td><a href="#/diario_classe/visualizar/2">Abrir</a></td>
    </tr>
    <tr>
        <td>Avaliacao</td>
        <td><a href="#/diario_classe/visualizar/3">Abrir</a></td>
    </tr>
    <tr>
        <td>Avaliacao</td>
        <td><a href="#/diario_classe/visualizar/4">Abrir</a></td>
    </tr>
    <tr>
        <td>Avaliacao</td>
        <td><a href="#/diario_classe/visualizar/5">Abrir</a></td>
    </tr>
    <tr>
        <td>Avaliacao</td>
        <td><a href="#/diario_classe/visualizar/6">Abrir</a></td>
    </tr>
</table>