
<div class="row">
    <div class="col-xs-9">
        <p class="text-center"><b>Anotações</b></p>
    </div>
    <div class="col-xs-3">
        <button type="button" class="btn btn-primary input-wide" ng-click="novo()"><i class="glyphicon glyphicon-plus-sign"></i></button>
    </div>
</div>

<div  class="row" ng-repeat="mostraAnotacao in anotacoes">
    <div class="col-xs-9" >
        <a href="#/listar-anotacoes/{{mostraAnotacao.codigo}}"><b>{{ mostraAnotacao.codigo }} - {{ mostraAnotacao.titulo }}</b></a> <br> {{ mostraAnotacao.descricao }}
    </div>
    <div class="col-xs-3">
        <button type="button" class="btn btn-danger input-wide" ng-click="excluir(mostraAnotacao)"><i class="glyphicon glyphicon-trash center-block"></i></button>
    </div>
</div>